.divTeam
{
    display: flex; 
    width: 100%;
    padding: 9px; 
    border: 1px; 
    background-color: LightGray; 
    border-radius: 15px;
    margin-bottom: 10px; 
}
.pTeam{
    margin: 5px;
    font-weight: 700;
}
.btnDelete{
    margin-right: auto;
    left: 88%;
    position: sticky;
}
.panelDiv{
    text-align: center;
}
.headerDiv{
    width: 100%; 
    margin: 25px ;
}
.inputDiv{
    float: right;
}
.addbtn{
    width: 62px;
    float: left;
    margin-top: 15px;
    height: 40px;
}
.colapseDiv{
    margin-top: 100px;
    width: 96%;
}
.btnGoup{
    margin-top: 10px;
}

.containerDiv{
    float: right;
    margin: 15px;
}

.span-error{
    text-align: center;
    display: block;
    color: red;
}
.span-display{
    text-align: center;
    display: block;
    color: green;
}