.headerdiv{
    margin-top: 50px
}

.pagenumber{
    float: right;
    margin-bottom: 10px;
}

.tournamentselect{
    float: right;
    padding-right: 50px;
    margin-bottom: 10px;
    text-align: center
}

.addbtn{
    float: left;
    margin-bottom: 10px;
}
.addimg{
    width: 60;
    cursor: pointer;
    height: inherit;
}
.header-center{
    text-align:center;
} 

.header-pointer{
    cursor:pointer;
}

.float-image-right{
    float:right;
}

.team-1-badge{
    position:relative;
     left: 66px;
}

.team-2-badge{
    position:relative;
    left: -80px;
    top:-20px;
}

.edit-btn{
    width: 62px;
}

.team-one-badge{
    position:relative;
    left: 86px;
}

.team-two-badge{
    position:relative;
    left: -80px;
    top:-20px;
}